.minimap
  display none
  position fixed
  right 8px
  top 35%
  z-index 3
  list-style none
  margin 0
  padding 0
  background-color rgba(0,0,0,0.4)
  border-radius 10px

  &.-visible
    display block
    animation fadeIn 2s

  > li
    padding 0
    text-align center

    > a
      padding 10px
      width 4px
      height 4px
      display block

    > a:before
      content ''
      position absolute
      width 6px
      height 6px
      background rgba(255,255,255,0.7)
      border-radius 10px
      margin-top -3px
      margin-left -3px

    > a.current:before
      width 10px
      height 10px
      background none
      border 1px solid rgba(255,255,255,0.9)
      margin-top -5px
      margin-left -5px

    > a.inactive:before
      background rgba(255,255,255,0.2)

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
