.alert-custom-message
  background #f00
  position absolute
  font-weight 500
  z-index 3
  color #fff
  padding 15px
  right 0
  border-radius 5px
  margin 50px 10px
  font-size 14px

@media screen and (min-width: 1620px)
  .alert-custom-message
    font-size 1vw

@media screen and (max-width: 767px)
  .alert-custom-message
    display none
