.bag-img
  img
    max-width 90%
    max-height 90%
    float right
    padding-top 5%

  .animateBackpackStyle
    transform scale(1.03)
    transition all .6s ease-in-out

@media (max-width: 767px)
  .bag-img
    img
      width 95%
      height auto
      display block
      margin 0 auto
      float none

@media (max-width: 480px)
  .bag-img
    img
      height 95%
      width auto
      margin-top 2vw
