.screen-img
  img
    transition all .3s ease-in-out
    //animation bagBounce 2.5s infinite ease-in-out
    //animation bagAppear 2.5s ease-in-out

  img:hover
    transform scale(1.05)
    //-ms-transform scale(1.05) /* IE 9 */
    //-webkit-transform scale(1.05) /* Safari */
