.bag-img

  > img
    height 98%
    float right
    transition all .3s ease-in-out

  > img:hover
    transform scale(1.03)
    -ms-transform scale(1.03) /* IE 9 */
    -webkit-transform scale(1.03) /* Safari */

@media (max-width: 767px)
  .bag-img

    > img
      display block
      margin 0 auto
      float none

@media (max-width: 480px)
  .bag-img

    > img
      height 95%
      width auto
      margin-top 2vw

