.chevron
  margin 30px 0 0

  i
    display block
    margin 0 auto
    width 20px
    height 20px
    border-top 1px solid #fff
    border-right 1px solid #fff
    border-width 2px
    transform rotate(135deg)
    opacity 0.9

    &.-red
      border-top 2px solid #f00
      border-right 2px solid #f00

  &.-animated
    animation arrowBounce 2.5s infinite

  &.-clickable:hover
    cursor pointer

.right
  .chevron
    i
      border-color #f00