.hello
  display none
  background-color rgba(0,0,0,0.4)
  border-radius 4px
  padding 5px 10px
  font-size 0.8em
  color #fff
  position fixed
  right 15px
  top 8px

  &.-visible
    display block
    animation fadeIn 2s

  > span
    text-transform capitalize
