.job
  p
    margin-top: 0
    font-size 18px

  h3
    margin-top 60px

  li
    font-size 18px;

  .container-thin
    max-width 70%


@media (max-width: 1024px)
  .job
    .container-thin
      max-width 100%
      margin-left 0

@media screen and (max-width: 767px)
  .job
    h1
      font-size 2em
    li
      margin 8px 0 8px 0
