.sign-img

  > div
    //border 1px solid red
    position relative
    height 100%

    a > img
      //border 3px solid orange
      //padding 10% 5% 0 0
      width 25%
      float right
      cursor pointer
      transition: opacity 0.4s easeOutCirc;

    a > img:hover
      opacity 0.75

    .footPrint
      width 3%
      position absolute
      opacity 0
      z-index 9999
