.fifth-screen
  background-color #010101
  padding-top 30px
  
  header
    color #ffffff
    font-size 36px  
    font-weight 300
    margin-bottom 60px
    text-align center

  #drop
    border 5px dashed #aaa
    margin auto auto
    border-radius 50px
    width 300px
    height 300px
    max-width 100%
    color #aaa
    text-align center
    display table

    span
      vertical-align middle
      display table-cell
