.fifth-screen
  background-color #010101
  padding-top 30px
  text-align center
  color #ffffff
  font-size 24px
  font-weight 300

  header
    font-size 36px
    margin-bottom 0px

  h2
    margin 0px auto 30px
    font-weight 300
    max-width 300px
    font-size 24px

  span
    display block
    margin auto auto 30px

  input[type=file]
    visibility hidden
    position absolute
    z-index 0

  input[type=text]
    margin auto auto 20px
    background none
    padding 10px
    width 300px
    border 1px solid #fff

  input[type=text]:active, input[type=text]:focus
    border-color #ff0000
    color #ff0000

  #drop
    border 2px dashed #fff
    margin auto auto
    border-radius 0px
    width 300px
    height 200px
    max-width 100%
    color #aaa
    text-align center
    display table
    cursor pointer


    &.hover
      border-color #FF0000

    span
      vertical-align middle
      display table-cell
