.fifth-screen
  background-color #010101
  padding-top 30px
  text-align center
  color #ffffff
  font-size 24px
  font-weight 300
  position relative

  header
    font-size 36px
    margin-bottom 20px

  h2
    margin 0px auto 10px
    font-weight 300
    max-width 300px
    font-size 18px

  span
    display block
    font-size 18px
    margin auto auto 30px

  input[type=file]
    visibility hidden
    position absolute
    z-index 0

  input[type=text]
    margin auto auto 20px
    background none
    padding 10px
    width 300px
    border 1px solid #fff

  input[type=text]:active
  input[type=text]:focus
  input.active
    border-color #ff0000
    color #ff0000

  button
    background #c01c1c
    color #ffffff
    border none
    width 300px
    transition all .25s
    padding 20px 0px

    &[disabled]
      opacity 0.5
      background #aaa

    &:not([disabled]):hover
      background #9f1313

    i
      width 50px
      height 50px
      display inline-block
      background url('../../../assets/img/upload.png') no-repeat
      background-size cover
      vertical-align middle
      margin-right 20px

    span
      display inline-block
      margin 0px
      font-size 20px
      font-weight 400

  #drop
    border 2px dashed #fff
    margin auto auto 70px
    border-radius 0px
    width 300px
    height 200px
    max-width 100%
    color #aaa
    text-align center
    display table
    cursor pointer


    &.hover
    &.active
      border-color #FF0000

    span
      vertical-align middle
      display table-cell

    &.active span
      color #FF0000
