.first-screen
  background-image url('../../../assets/img/bg.jpg')
  background-size cover
  background-attachment fixed

  h1, h2
    color #fff
    font-weight 300
    text-align center

  h1
    font-size 4em

  h2
    font-size 2em
