.fourth-screen
  position relative
  padding-top 30px

  > .chevron
    width 100%
    position absolute
    z-index 2
    bottom 0

    > i
      border-color black
      opacity 0.2

  header
    font-size 36px
    text-align center
    font-weight 300
    color #010101
    margin-bottom 60px

  ul
    display block
    width 1000px
    max-width 100%
    margin auto auto 40px
    list-style none
    padding 0

    li
      width 33.3333%
      display inline-block
      margin-bottom 40px
      img
        max-width 80px
        vertical-align middle
        margin 0 20px 0 20px

      form
        display inline-block
        vertical-align middle

        input
          display none

        label
          float right
          padding 0
          font-size 36px
          cursor pointer

        label.star:before
          content ''
          width 32px
          height 31px
          opacity 0.8
          display block
          background url('../../../assets/img/rating-arrows.png') no-repeat
          transition transform .25s

        input:checked ~ label.star:before
          background-position -64px 0 !important

        label.star:hover:before
          transform scale(1.1)

        label.star:hover:before
        label.star:hover ~ label.star:before
          background-position -32px 0

@media (max-width: 767px)
  .fourth-screen
    overflow-y scroll

    > .chevron
      width 100%
      position initial
    ul
      margin-bottom 20px
      li
        width: 50%

@media (max-width: 480px)
  .fourth-screen
    ul

      li
        width 90%
        display block
        margin 0 auto 20px
