.fourth-screen
  padding-top 30px 
  
  > .chevron
    text-align center

    > i
      border-color black
      opacity 0.2

  header
    font-size 36px
    text-align center
    font-weight 300
    color #010101
    margin-bottom 60px

  ul
    display block
    width 1000px
    max-width 100%
    margin auto auto 40px
    list-style none
    padding 0

    li
      width 33.3333%
      display inline-block
      margin-bottom 40px
      img
        max-width 80px
        vertical-align middle
        margin-right 40px
        opacity 0.5
      div
        display inline-block
        vertical-align middle
        img
          height 50px
          fill #444
          cursor pointer
          margin 0
          margin-left -20px
        img:hover
          opacity 1.0

    li:hover
      >img
        opacity: 1.0
