.second-screen
  div
    position relative

  span
    font-size 4em
    display block
    line-height 1.27em

  span:nth-child(2)
    position relative
    left: -178px

  span:nth-child(3)
    position relative
    left: -116px

  input
  button
    font-weight 300
    font-size 1.9em
    letter-spacing 1px
    padding 20px

  input
    width 408px
    border 1px solid #040404
    border-right none

  button
    width 100px
    background-color #780811
    color #FBFAF8
    border 1px solid #030403
    border-left none



