.third-screen

  ul
    display block
    width 100%
    height 100vh
    padding 0
    margin 0

    :hover
      li
        width 40px

    li
      cursor pointer
      position relative
      display block
      width 25%
      height 100vh
      background #010101
      float left
      transition all 0.5s
      -webkit-transition all 0.5s
      -moz-transition all 0.5s

      > p
        position absolute
        bottom 40px
        box-sizing border-box
        padding 20px
        left 10%
        width 80%
        text-align center
        color #ffffff
        z-index 99
        border 2px solid #ffffff

      img
        display block
        height 100%
        opacity 0.5
        border-left 1px solid rgba(255,255,255,0.5)

      div
        height 100%
        width 55vw
        position relative

        p
          position absolute
          right 10%
          top 10px 
          width 30%
          box-sizing border-box
          padding 20px
          color #ffffff
          border 2px solid #ffffff
          

    li:first-child
      img
        border-left none !important

  ul:hover
    li
      width 15%
    li:hover
      width 55%

@media (max-width: 767px) 
  .third-screen
    overflow scroll

    ul
      
      li
        height auto
        width 100%
        float none

        div
          width 100%

          p
            width 60%

    ul:hover
      li,li:hover
        width: 100%
        

