@keyframes arrowBounce
  0%
    transform translateY(-20px)
  50%
    transform translateY(-10px)
  100%
    transform translateY(-20px)

@keyframes fadeIn
  0%
    opacity 0
  50%
    opacity 0
  100%
    opacity 1

@keyframes backpackListIn
  from
    margin-left 75px
    opacity 0
  to
    margin-left 0
    opacity 1
