// Remember to use rems and ems. http://css-tricks.com/rems-ems.

@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400,300')
@import '../../../node_modules/normalize.css/normalize.css'
@import './Animations'

// http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
*
  -webkit-tap-highlight-color rgba(0,0,0,0)

// Goodness.
*, ::after, ::before
  box-sizing border-box

html,
body
  width 100%
  height 100%
  overflow hidden

body
  font-family 'Open Sans', sans-serif
  font-weight 400
  color #030303
  font-size 16px
  line-height 1.5
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-rendering optimizeLegibility

strong
  font-weight 700

#app
  &
    width 100%
    height 100%

  :focus
    outline-style none

.page
.screen
.screen-list
  width 100%
  height 100%

.screen-list
  transition transform 1000ms ease

.screen
  overflow-x hidden
  overflow-y scroll

::-webkit-scrollbar
    width 5px

::-webkit-scrollbar-track
    -webkit-border-radius 5px
    border-radius 5px
    background rgba(0,0,0,0.01)

::-webkit-scrollbar-thumb
    -webkit-border-radius 5px
    border-radius 5px
    background rgba(0,0,0,0.2)

::-webkit-scrollbar-thumb:hover
    background rgba(0,0,0,0.4)

::-webkit-scrollbar-thumb:window-inactive
    background rgba(0,0,0,0.05)

.dark
  &::-webkit-scrollbar-track
    background rgba(255,255,255,0.01)

  &::-webkit-scrollbar-thumb
    background rgba(255,255,255,0.2)

  &::-webkit-scrollbar-thumb:hover
    background rgba(255,255,255,0.4)

  &::-webkit-scrollbar-thumb:window-inactive
    background rgba(255,255,255,0.05)

.content
  ul
    li
      display flex
      list-style none
      line-height 40px
    li:before
        transform: rotate(270deg);
        content url('../../../assets/img/bullet.svg')
        width 20px
        display block
        margin 2px 5px 0 -25px
        position absolute

@media (max-width: 767px)
  .content
    ul
      li
        line-height inherit

.screen

  .right
    display flex
    align-items center
    position relative

    .chevron
      position absolute
      top 90%

  .content
    align-items center
    display flex
    flex-direction column
    width 100%
    position relative
    max-width 90%
    height 100%

    .screen-desc
      font-size 18px
      margin 0 0 30px 0

    h1
      font-size 2.5em
      text-transform uppercase

@media screen and (max-width: 1020px)
  .screen
    .content
      max-width 100%

    .container
      margin 0 40px

    .content
      height inherit

    .right
      align-items flex-start

      .chevron
        display none