.ways-info-screen
  position relative
  overflow-y hidden
  font-size 6%vw


  > p
    font-size 1em
    font-weight 300
    line-height 0.6
    left 10%
    position absolute

  > p:nth-child(2)
    left 50%
    top 20%

  > img
    width 50%
    max-width 1200px
    max-height 60%
    bottom 0
    z-index -100
    position absolute

  > div
    position absolute
    left 66%
    top 60%

    > button
      font-weight 300
      font-size 0.5em
      letter-spacing 1px
      background none
      border none
      margin 0 auto
      display block

    > .chevron
      width 120px
      margin 0 auto

      > i
        border-color black
        opacity 0.2



@media (max-width: 768px)
  .ways-info-screen
    > p
      position static
      font-size 1.5em
      text-align center

    > img
      bottom 0
      width 64%

    > div
      position static
      margin 20vh auto 0

      > button
        font-size 1.1em

@media (max-width: 425px)
  .ways-info-screen
    > img
      width 100%
