.check-screen

  .right
    display flex
    align-items center
    position relative

    .chevron
      position absolute
      bottom 20px
      width 70%

  .content
    display flex
    flex-direction column
    width 100%
    max-width 700px

    h1
      font-size 2.5em
      text-transform uppercase

  .checkbox-list
    input[type="checkbox"]
      margin 20px 15px 0 0

@media screen and (max-width: 767px)
  .check-screen
    .container
      padding 0 40px

    .content
      h1
        font-size 2em