.compass-screen
  .right
    display flex
    align-items center

  .content
    width 700px
    max-width 100%
    h1
      font-size 3vw
      text-transform uppercase

    .list
      display flex
      width 100%

    .rules
      justify-content space-evenly
      img
        height 100px

    .values
      flex-wrap wrap
      background #f5f5f5
      padding 20px 0

      .item
        margin 10px 0

        p
          font-weight 700
        img
          height 50px