.compass-screen
  .content
    .screen-desc
      margin 0

    h3
      margin 70px 0 0

    .list
      display flex
      width 100%

    .rules
      justify-content space-evenly
      img
        height 100px

    .item

      span
        font-weight 500
        opacity .3
        font-size 14px
        margin 5px 10px
        transition opacity .3s ease-in-out

      p
        font-weight 700

    .item:hover
      span
        opacity 1

    .values
      flex-wrap wrap

      .item
          img
            height 50px

@media screen and (max-width: 767px)
  .compass-screen
    .right
      .chevron
        position relative
        width 100%
        bottom 0px

    .content
      width 100%

      h1
        font-size 2em

      .rules
        img
          height 70px

      .values
        background transparent
        padding 0

        img
          height 35px

@media screen and (max-width: 460px)
  .compass-screen

    .content
      height 100%
      display flex
      flex-direction column

      .item
        width 100%
        span
          display none

      .values
        .item
          margin 10px 0
          background #f5f5f5
          img
            width 40px
          p
            font-size 14px
            margin-bottom 10px