.equipment-screen

  .right
    display flex
    align-items center
    position relative

    .chevron
      position absolute
      bottom 20px
      width 70%

  .content
    display flex
    flex-direction column
    width 100%
    max-width 700px

  .options
    display flex

    .option
      align-items center
      cursor pointer
      display flex
      flex 1
      flex-direction column

      img
        width 100px