.equipment-screen

    h1
      font-size 2.5em
      text-transform uppercase

        p
          margin 0

  .content-list
    width 100%

  .options
    display flex
    width 100%

    .option
      align-items center
      cursor pointer
      display flex
      flex 1
      flex-direction column
      text-align center
      margin 0 40px

      p
        font-weight 700

      img
        width 80px

@media screen and (max-width: 767px)
  .equipment-screen
    .right
      .chevron
        position relative
        width 100%
        bottom 0px

    .content
      h1
        font-size 2em
        text-transform uppercase

      .desc
        display none

    .content-list
      display flex

    .options
      align-items flex-start
      justify-content space-between
      width 100%

      .option
        margin 0

        img
          width 50px

@media screen and (max-width: 520px)
  .equipment-screen
    .options
      .option
        p
          font-size 12px

@media screen and (max-width: 420px)
  .equipment-screen
    .content-list
      margin-top 45px

@media screen and (max-width: 360px)
  .equipment-screen
    .options
      .option
        p
          display none