.fourth-screen
  position relative
  //overflow-y hidden

  .screen-title
    width 100%
    text-align center

    > h1
      font-size 4vw
      font-weight 300
      margin 2vw auto

  > .chevron
    width 100%
    position absolute
    z-index 2
    bottom 0
    margin-bottom 0

    > i
      border-color black
      opacity 0.2

  .screen-img
    display inline-block
    width 50%
    text-align center

    > img
      width 60%

  .screen-list
    display inline-block
    width 50%
    vertical-align top

    > ul
      list-style-image url("../../../assets/img/scalac_logo_icon.png")


@media (max-width: 767px)
  .fourth-screen

    .screen-img
      width 60%

    .screen-list
      width 40%


@media (max-width: 480px)
  .fourth-screen

    .screen-img
      display block
      width 100%

    .screen-list
      display block
      width 100%
