.position-screen
  .right
    align-items: center
    justify-content center
    position relative
    .content
      max-width 500px
      width 100%
    .chevron
          position absolute
          bottom 20px
          width 70%

@media (max-width: 767px)
  .position-screen
    .right
      .content
        padding 0 40px