.position-screen
  .content
    ul
      width 100%

  .content.job
    align-items flex-start
    .thin
      max-width 70%

@media (max-width: 1024px)
  .position-screen
    .content.job
      .thin
        max-width 100%
        margin-left 0