.position-screen
  .right
    align-items: center
    justify-content center
    .content
      max-width 500px
      width 100%

@media (max-width: 767px)
  .position-screen
    .right
      .content
        padding 0 40px