@keyframes pulse
  100%
    left 70%
    opacity 0.3
    transform scale(0.5)

.second-screen
  position relative
  overflow-y hidden

  > div
    position absolute
    bottom 0
    right 0
    height 100%
    display flex
    align-items stretch
    width 100%

    p
      font-size 4vw
      font-weight 300
      margin 0

    .left-side
      background url('../../../assets/img/second/bg.svg') no-repeat
      width 50%
      background-size auto 100%
      align-items stretch
      position relative

      .cloud
        position absolute
        animation pulse 15s infinite

      .c1
        left 5%
        top 25%
        width 35%
        animation-delay 5s

      .c2
        top 5%
        width 45%
        left 30%

    .right-side
      display flex
      flex-flow column nowrap
      justify-content center
      width 35%
      position relative

      .path
        display flex
        align-items center
        margin-top 100px
        cursor pointer
        transition 1s

        .scalac
          width 40px
          margin-right 15px

      .path:hover
        font-size 120%

        .scalac
          width 50px

      .arrow
        position absolute
        bottom 20px
        width 70%

  @media (max-width: 767px)
    .second-screen
      > div
        width 100%

        > h1
          position relative
          width auto
          font-size 12 vw
          text-align center
          left initial

          span:nth-child(2)
            left initial

          span:nth-child(3)
            left initial

          .chevron
            width initial
