.skills-screen

  .right
    justify-content flex-start

    .content-skills
      padding-right 10%

    .screen-title
      display flex
      flex-direction column
      align-items flex-start
      margin-left 50px
      p
        font-size 18px
        text-align left

  .chevron

    i
      border-color #ff0204

  h1
    font-size 2.5em
    text-align center
    font-weight 700
    color #010101
    margin-bottom 10px
    text-transform uppercase

  p
    text-align center

  ul
    display flex
    max-width 100%
    list-style none
    padding 20px
    flex-wrap wrap

    li:hover
      img
        filter grayscale(0)
        transition .2s ease-in-out

    li
      margin-bottom 40px
      position relative
      display flex
      justify-content center
      align-items center

      img.active
        filter grayscale(0)

      .hint
        position absolute
        bottom 90px
        left 0
        background #000
        opacity 0.7
        color #fff
        text-align center
        width 90px
        padding 0 5px
        margin 0 15px
        font-size 14px
        line-height 20px
        border-radius 5px

      .hint::after
        content ''
        position absolute
        width 0
        height 0
        border-left 5px solid transparent
        border-right 5px solid transparent
        border-top 7px solid #000
        bottom -7px
        left 43px
        margin 0 auto

      img
        filter grayscale(100%)
        max-width 80px
        vertical-align middle
        margin 0 20px 0 20px

      form
        display inline-block
        vertical-align middle

        input
          display none

        label
          float right
          padding 0
          font-size 36px
          cursor pointer

        label.star:before
          content ''
          width 32px
          height 31px
          opacity 0.8
          display block
          background url('../../../assets/img/rating-arrows.png') no-repeat
          transition transform .25s

        input:checked ~ label.star:before
          background-position -64px 0 !important

        label.star:hover:before
          transform scale(1.1)

        label.star:hover:before
        label.star:hover ~ label.star:before
          background-position -32px 0


@media (max-width: 1024px)
  .skills-screen
    ul
      justify-content space-around

@media (max-width: 767px)
  .skills-screen
    h1
      font-size 2em
    ul
      background transparent
      margin 0

    > .chevron
      width 100%
      position initial
    ul
      margin-bottom 20px
      li
        display flex
        justify-content center
        align-items center
        width 100%

@media (max-width: 480px)
  .skills-screen
    ul
      padding 0
      li
        img
          max-width 50px
          margin 0 5px 0 0

    p
      margin 0 0 30px

    > .chevron
      position relative

    .right
      .screen-title
        margin-left 0