.submit
  background-color #010101
  padding-top 30px
  text-align center
  color #ffffff
  font-size 23px
  font-weight 300
  position relative

  .overlay
    position: fixed
    background: rgba(0, 0, 0, 0.7)
    transition: opacity 500ms
    visibility: hidden
    opacity: 0
    margin-top: -50%

    @media screen and (max-width: 700px)
      margin-top: -140%


  .overlay:target
    visibility: visible
    opacity: 1
    z-index: 5
    overflow-y: scroll

  .popup
    margin: 70px auto
    padding: 20px
    background: #fff
    border-radius: 5px
    width: 50%
    transition: all 500ms ease-in-out
    margin-left: 40%
    overflow-y: scroll
    z-index:10
    margin: auto;

    p
      color: #000

  .popup h2
    margin-top: 0
    color: #333
    font-family: Tahoma, Arial, sans-serif

  .popup .close
    position: absolute
    top: 20px
    right: 30px
    transition: all 200ms
    font-size: 30px
    font-weight: bold
    text-decoration: none
    color: #333

  .popup .close:hover
    color: #f00

  .popup .content
    max-height: 30%
    overflow: auto

  @media screen and (max-width: 700px)
    .box
      width: 70%

    .popup
      width: 70%

  header
    font-size 36px
    margin-bottom 20px
    text-transform uppercase
    font-weight 700

  h2
    margin 0px auto 10px
    font-weight 300
    max-width 300px
    font-size 18px

  span
    display block
    font-size 18px
    margin auto auto 30px

  .regulations
    font-size 13px
    font-weight 300
    text-align center
    color #ffffff

  .checkbox-terms
    .checkbox-list
        display flex
        text-align center
        flex-direction column
        align-items flex-start
        margin-left 30px
        margin-top 5vw
        width: 50%
        margin: auto

      .list-item
        margin 10px 0

      input
        display none

      label
        align-items flex-start
        display flex
        flex-direction row
        padding 0
        cursor pointer
        padding-bottom: 15px

        span
          display inline
          margin 0px
          font-size 20px
          font-weight 400

      label:before
        position absolute
        margin-left -35px
        content ''
        width 25px
        height 25px
        opacity 0.8
        display block
        background #d9d9d9 url('../../../assets/img/bullet.svg') no-repeat
        background-position -100px 0
        transition transform .25s
        transform rotate(-90deg)
        margin-top: 0.2%

      input:checked ~ label:before
        background-position 0

      label:hover:before
      label:hover ~ label:before
        background-position -32px 0

  input[type=file]
    visibility hidden
    position absolute
    z-index 0

  input[type=text]
  input[type=url]
  input[type=email]
    margin auto auto 20px
    background none
    padding 10px
    width 300px
    max-width 80%
    border-color #ff0000
    color #ff0000

  input[type=text]:active
  input[type=text]:focus
  input[type=email]:active
  input[type=email]:focus
  input[type=url]:active
  input[type=url]:focus
  input.active
  input.optional
    border 1px solid #fff
    color #fff

  button
    background #c01c1c
    color #ffffff
    border none
    width 300px
    max-width 80%
    transition all .25s
    padding 20px 0px
    margin-bottom 15px

    &[disabled]
      opacity 0.5
      background #aaa

    &:not([disabled]):hover
      background #9f1313

    i
      width 50px
      height 50px
      display inline-block
      background url('../../../assets/img/upload.png') no-repeat
      background-size cover
      vertical-align middle
      margin-right 20px

    &.-pending
      i
        display none

    span
      display inline-block
      margin 0px
      font-size 20px
      font-weight 400

  #drop
    border 2px dashed #fff
    margin auto auto 70px
    border-radius 0px
    width 300px
    height 200px
    max-width 80%
    color #aaa
    text-align center
    padding 10px
    box-sizing border-box
    display flex
    cursor pointer

    span
      vertical-align middle
      display table-cell

@media (max-width: 480px)
  .submit
    header
      font-size 24px
      margin-bottom 10px

    span
      margin-bottom 10px
      font-size 16px


    h2
      font-size 16px

    input[type=text]
      font-size 14px
      margin-bottom 10px

    button
      padding 10px 0px
      span
        font-size 16px

    #drop
      height auto
      margin-bottom 30px
      span
        margin 0 auto
