.third-screen
  overflow-y hidden
  font-size 16px

  ul
    display block
    width 100%
    height 100vh
    padding 0
    margin 0

    :hover
      li
        width 40px

    li
      cursor pointer
      position relative
      display block
      width 25%
      height 100vh
      background #010101
      float left
      transition all 0.5s
      -webkit-transition all 0.5s
      -moz-transition all 0.5s

      > p
        position absolute
        bottom 0px
        box-sizing border-box
        padding 20px
        left 10%
        width 80%
        font-size 2.2em
        text-align left
        color #ffffff
        z-index 99

      img
        display block
        height 100%
        border-left 1px solid rgba(255,255,255,0.5)
        opacity 0.75

      img:hover
        opacity 1.0

      div
        height 100%
        width 55vw
        position relative

        p
          position absolute
          right 10%
          top 10px
          width 40%
          box-sizing border-box
          padding 20px
          color #ffffff
          font-size 1em
          text-align right
          transition all 0.5s
          -webkit-transition all 0.5s
          -moz-transition all 0.5s


    li:first-child
      img
        border-left none !important

  ul:hover
    li
      width 15%
    li:hover
      width 55%

@media (max-width: 767px)
    .third-screen
      font-size 14px

      ul

        li
          height 25%
          width 100%
          float none

          img
            height auto
            min-width 100%
            opacity 0.75

          img:hover
            opacity 1.0

          > p
            font-size 2em
            line-height 2em
            left 0px
            width 100%
            margin 0px
            top 0px

          div
            width 100%

            p
              top 25%
              text-align left
              opacity 0
              right auto
              width 100%

      ul:hover
        li,li:hover
          width: 100%
          height 15%
        li:hover
          height 55%
          div
            p
              opacity 1



